@media only screen and (min-width: 992px) {
    .displayOnMediumOnly {
        display: none;
    }

    .displayOnLargeAndBigger {
        display: block;
    }

    #customWidthImage {
        width: 900px;
    }
  }