h1 {
    color: yellow;
}

.navbarTest {
    box-sizing: border-box;
    background-color: turquoise;
    display: flex;
    justify-content: space-between;
}

.iconTest {
    background-color: yellow;
}

.carouselImage {
    height: 300px;
    width: 200px;
}